@model IEnumerable<MoviesDB.MovieToWatch>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies to watch</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-controller="MoviesToWatch" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Relase Year
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Watched" asp-route-id="@item.Id">Watched</a>
            </td>
        </tr>
}
    </tbody>
</table>
