@model MoviesDB.MovieToWatch

@{
    ViewData["Title"] = "Watched";
}
<h1>Watched</h1>

<h3>Is this the movie you watched?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row" style="border: 3px solid #696969; background-color:#999999; opacity:0.9; margin-inline: auto;">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Release year
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="word-wrap:break-word;">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Watched" style="float:left">
        <input type="hidden" asp-for="Id" />
        <label class="btn btn-info">
            <input type="submit" value="" style="display:none" />
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
            </svg>
            Watched
        </label>
    </form>
    <div style="margin-left:10%;">
        <a class="btn btn-outline-danger" asp-action="Index">Back to the list</a>
    </div>
    <br />
</div>