@model MoviesDB.MovieToWatch

@{
    ViewData["Title"] = "Watched";
}
<h1>Watched</h1>

<h3>Is this the movie you watched?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="word-wrap:break-word;">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Watched">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Watched" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>